// $main-color: #272727;
$main-color: rgba(39, 39, 39, 1);
$secondary-color: white;
$accent-color: #6221EB;

$main-font: 'Playfair Display', serif;
$secondary-font: 'Montserrat', sans-serif;

$container-width: 80%;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $main-color;
    background-image: url("../assets/images/Lake-Travis.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px) brightness(40%) grayscale(30%);
    // width: 100%;
    // height: 100%;
    position: relative;
    font-family: $main-font;
}

.container {
    width: $container-width;
    max-width: 1280px;
    margin: 0 auto;
}

// ******************** Navigation Bar ******************** //
header {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    margin-bottom: 20px;
}

nav {
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;

    @media screen and (max-width: 745px) {
        height: 15vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.logo-container {

    a {
        color: $secondary-color;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $main-font;
        font-size: 2em;

        img {
            width: 30px;
            height: auto;
            margin-right: 10px;

            @media screen and (max-width: 374px) {
                display: none;
            }
        }
    }

    @media screen and (max-width: 745px) {
        margin-bottom: 20px;
    }
}

.nav-links-container {
    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
            margin-left: 50px;
            list-style-type: none;

            a {
                color: rgba(255, 255, 255, 0.7);
                text-decoration: none;
                text-transform: uppercase;
                font-family: $secondary-font;
                font-size: 14px;
                position: relative;

                &::before {
                    content: '';
                    width: 0%;
                    height: 3px;
                    display: block;
                    background-color: $secondary-color;
                    position: absolute;
                    top: -10px;
                    transition: all ease-in-out 250ms;
                }

                &:hover {
                    color: white;

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 745px) {
        display: none;
    }
}

// ******************** Main Content ******************** //

// ******************** Hero Section
#hero{
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 75vh;
    margin-bottom: 60px;

    .side-bar {
        background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        h1 {
            font-size: 2rem;
            // letter-spacing: 2px;
        }

        p {
            // text-transform: uppercase;
            font-family: $secondary-font;
            font-size: 0.9rem;
            text-align: center;
            padding: 0 20px;
            margin: 10px auto;
        }

        a {
            position: absolute;
            bottom: 0px;
            margin: 60px auto;
            text-decoration: none;
            text-transform: uppercase;
            color: $secondary-color;
            padding: 15px 80px;
            background-color: $main-color;
            font-family: $secondary-font;
            font-size: 0.9rem;
            transition: all ease-in-out 300ms;

            &:hover {
                background-color: $secondary-color;
                color: $main-color;
                border: solid $main-color 1px;
                font-weight: 600;
            }

            @media screen and (max-width: 745px) {
                position: relative;
                // bottom: 0px;
                margin: 15px auto;
                padding: 10px 80px;
            }
        }
    }

    .hero-img-container {
        overflow: hidden;
        position: relative;

        .hero-img {
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            transition: all ease-in-out 300ms;

            &:hover {
                opacity: 0.9;
                transform: scale(1.05);
            }
        }
    }

    @media screen and (max-width: 745px) {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 1fr;
    }
}

// ******************** Gallery Section

#gallery {
    background: $secondary-color;
    // margin: 60px auto;
    text-align: center;

    h2 {
        color: $main-color;
        position: relative;
        top: 20px;
        text-transform: uppercase;
        font-size: 1.8rem;

    }
}
.eui-widget-title {
    font-family: $secondary-font;
    color: $main-color;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

// ******************** Contact Section
#contact {
    background-color: $main-color;
    text-align: center;

    h2 {
        position: relative;
        top: 20px;
        color: $secondary-color;
        font-size: 1.8rem;
        margin-bottom: 60px;
        text-transform: uppercase;
    }
}

/*************************** Footer Section ***************************/
footer {
    width: 100%;
    height: 15vh;
    background: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    .social-links-container {
        text-align: center;
    }
    .fab {
        color: $main-color;
        margin: 10px 30px;
        opacity: 0.7;
        cursor: pointer;

        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }
    }
    p {
        color: $main-color;
        text-align: center;
        opacity: 0.8;
    }
}